/* =============== Fonts =============== */

/* ===================================== */

/*Reset*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:active,
:focus {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select,
option {
  font-size: inherit;
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --clr-primary: rgb(45, 45, 45);
  --clr-secondary: rgb(248, 248, 248);
  --clr-bg-page: var(--clr-primary);
  --clr-bg-block: rgb(255, 255, 255);
  --clr-text-default: var(--clr-primary);
  --ff-primary: "Arial", Helvetica, sans-serif;
  --ff-secondary: "Times New Roman", Times, serif;
  --fw-normal: 400;
  --clr-scrollbar-thumb: var(--clr-primary);
}

.--container {
  max-width: 32.5rem;
  margin: 0 auto;
  padding-inline: 1.25rem;
}

.--grid-content {
  display: grid;
  grid-template-columns: [full-width-start] 1fr [breakout-start] 1.25rem [content-start] minmax(auto, 30rem) [content-end] 1.25rem [breakout-end] 1fr [full-width-end];
}

.--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.--burger {
  display: none;
}

.condition-text {
  font-size: 1.25rem;
}

.temprature {
  font-size: 1.5rem;
}

.focusable-element {
  transition: box-shadow 0.3s;
}

.focusable-element:focus-visible {
  box-shadow: inset 0 0 0.3125rem var(--clr-primary);
}

@keyframes updateButtonAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--clr-secondary);
  border-radius: 0.3125rem;
  border: 0.0625rem solid var(--clr-primary);
}

::-webkit-scrollbar-thumb {
  border: 0.125rem solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 0.3125rem;
  background-color: var(--clr-scrollbar-thumb);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

html {
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: var(--fw-normal);
  color: var(--clr-text-default);
  background-color: var(--clr-bg-page);
  scrollbar-gutter: stable;
  scroll-padding-top: initial;
}

body {
  min-height: 100%;
}

body.--modal-opened,
body.--burger-menu-opened {
  touch-action: none;
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  flex: 1 1 auto;
}

.weather {
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
  grid-auto-columns: minmax(auto, 30rem);
}

.weather__container {
  display: grid;
  border-radius: 1.5625rem;
  padding: 1.25rem;
  background-color: var(--clr-bg-block);
}

.weather__open-forecast-button-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  padding-top: 0rem;
  margin-bottom: 0rem;
  transition: grid-template-rows 0.3s, padding-top 0.3s, margin-bottom 0.3s;
}

.weather__open-forecast-button-wrapper.--visible {
  grid-template-rows: 1fr;
  padding-top: 0.625rem;
  margin-bottom: 1.25rem;
}

.weather__open-forecast-button-wrapper.--visible .weather__open-forecast-button {
  border: 0.125rem solid var(--clr-primary);
  border-radius: 0.625rem;
  padding: 0.625rem 0.9375rem;
}

.weather__open-forecast-button {
  overflow: hidden;
  font-weight: 700;
  background-color: var(--clr-secondary);
}

.weather-search-form {
  display: grid;
  grid-template-columns: 1fr 2.5rem;
  border-radius: 0.625rem;
}

.weather-search-form__input {
  width: 100%;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.625rem 0 0 0.625rem;
  border: 0.125rem solid var(--clr-primary);
  border-right: unset;
}

.weather-search-form__submit {
  border-radius: 0 0.625rem 0.625rem 0;
  border: 0.125rem solid var(--clr-primary);
  border-left: unset;
  background-color: transparent;
  background-image: url("../img/search.svg");
  background-size: cover;
}

.weather-current {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s;
}

.weather-current.--visible {
  grid-template-rows: 1fr;
}

.weather-current__wrapper {
  overflow: hidden;
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.9375rem 0.625rem;
}

.weather-current__city-name {
  grid-column: 1/-1;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.weather-current__update-button {
  position: absolute;
  top: 0.125rem;
  right: 0;
  width: 1.25rem;
  height: 1.25rem;
  background-color: transparent;
  background-image: url("../img/update.svg");
  background-size: cover;
  filter: drop-shadow(0 0 0.125rem transparent);
  transition: filter 0.3s;
}

.weather-current__update-button:focus-visible {
  filter: drop-shadow(0 0 0.125rem var(--clr-primary));
}

.weather-current__update-button.--active {
  animation-name: updateButtonAnimation;
  animation-duration: 0.6s;
}

.weather-current__condition-icon {
  justify-self: end;
}

.weather-current__condition-text {
  justify-self: center;
  grid-column: 1/-1;
}

.weather-current__temprature {
  justify-self: start;
  display: flex;
}

.weather-forecast {
  display: grid;
  grid-template-rows: 0fr;
  padding-top: 0rem;
  transition: grid-template-rows 0.3s, padding-top 0.3s;
}

.weather-forecast.--visible {
  grid-template-rows: 1fr;
  padding-top: 2.5rem;
}

.weather-forecast__wrapper {
  overflow: hidden;
}

.weather-forecast__text {
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 0.3125rem;
}

.weather-forecast__week-slider {
  display: flex;
  gap: 0.9375rem;
  padding-block: 0.625rem;
  overflow-x: scroll;
  border-radius: 0.3125rem;
}

.weather-forecast__week-slider:focus-visible {
  --clr-scrollbar-thumb: rgb(102, 99, 99);
}

.weather-forecast__day-info {
  flex: 1 0 90%;
  border: 0.125rem solid var(--clr-primary);
}

.forecast-day-info {
  display: grid;
  grid-template-areas: "weekday weekday" "condition-icon temprature" "condition-icon condition-text";
  grid-auto-columns: 4rem 1fr;
  gap: 0.3125rem 0.625rem;
  padding: 1.25rem;
  background-color: var(--clr-secondary);
  border-radius: 1.25rem;
}

.forecast-day-info__weekday {
  grid-area: weekday;
  font-size: 1.25rem;
}

.forecast-day-info__weekday:not(:last-child) {
  margin-bottom: 0.625rem;
}

.forecast-day-info__condition-icon {
  grid-area: condition-icon;
}

.forecast-day-info__temprature {
  grid-area: temprature;
}

.forecast-day-info__condition-text {
  grid-area: condition-text;
}

@media screen and (max-width: 23.4375em) {
  .weather {
    padding: 0;
  }
}